
# pin definitions

#       654321      
#	xxxxxx	PMOD2 A
#	xxxxxx  PMOD2 B
#       654321
#
#PMOD2 A 
set_io pclk C8 		#IOT_197 USER_CLK
set_io LED1 A9		#IOT_194 LED1
set_io LED2 B8		#IOT_203 LED2
set_io LED3    B7		#IOT_207 LED3

set_io i_rts A1			#IOT_220 PM2-A1	i_rts
set_io TXD B5 		#IOT_214 PM2-A3
set_io RXD B3		#IOT_223 PM2-A2
set_io o_cts B6			#IOT_208 PM2-A4	o_cts
